# Path to the music folder:

# For Windows users:
# Use double backslashes (\\) to escape backslashes in the path
# Example: D:\\path\\to\\your\\music
MUSIC_FOLDER=\\path\\to\\your\\music

# For macOS/Linux users:
# Use forward slashes (/) in the path
# Example: /Users/your-username/path/to/your/music
MUSIC_FOLDER=/path/to/your/music

# Spotify Secrets:

# Get your Spotify API keys from https://developer.spotify.com/dashboard/
SPOTIPY_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SPOTIPY_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx
REDIRECT_URI=http://localhost:3000