# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.tox/
.nox/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE settings
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Project specific
.cache/
run_ui.sh
userfiles/recents.txt
.ethos/

# Logs and databases
*.log
*.sqlite
pip-log.txt
pip-delete-this-directory.txt

# Test reports
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
cover/

# Documentation
docs/_build/

#extra
.cache
private/

#shell-script
./run_ui.sh